* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --primary: #de1cb4;
  --primary-light: #fa98e5;
  --primary-dark: #8b006d;
} */

:root {
  --primary: #24ac1f;
  --primary-light: #5cff57;
  --primary-dark: #0f7a0c;
  --secondary: #eeee10;
  --secondary-light: #ffff4f;
  --secondary-dark: #e6e600;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes dance {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }
  12% {
    transform: translateY(-8px) rotate(-6deg) scale(1.02);
  }
  25% {
    transform: translateX(8px) rotate(6deg) scale(1.04);
  }
  50% {
    transform: translateY(6px) rotate(-4deg) scale(0.99);
  }
  75% {
    transform: translateX(-6px) rotate(4deg) scale(1.03);
  }
  100% {
    transform: translateY(0) rotate(0) scale(1);
  }
}

@keyframes dance-for-heading {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }
  12% {
    transform: translateX(8px) rotate(6deg) scale(1.04);
  }
  25% {

    transform: translateY(-8px) rotate(-6deg) scale(1.02);
  }
  50% {
    transform: translateY(6px) rotate(-4deg) scale(0.99);
  }
  75% {
    transform: translateX(-6px) rotate(4deg) scale(1.03);
  }
  100% {
    transform: translateY(0) rotate(0) scale(1);
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 70px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-bottom: 100px;
  text-align: center;
  transition: all 0.3s;
  animation: dance 2.2s ease-in-out infinite;
  margin-top: -200px;
  text-shadow: 
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000; /* Four shadows around the text */
}

img {
  width: 350px;
  height: 350px;
  animation: dance-for-heading 2.2s ease-in-out infinite;
}

.emoji {
  color: none;
}

button {
  font-size: 20px;
  padding: 15px 100px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s;
  color: black;
}

button:hover {
  transform: scale(1.1);
}

.option-buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.option-button-yes {
  background-color: var(--secondary-light);
}

.option-button-no {
  background-color: var(--secondary-dark);
  transition: all 0.2s;
}

.option-button-no:hover {
  transform: scale(0.9);
}

.option-button-yes:active {
  transform: scale(1);
}


@media (max-width: 789px) {
  img {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: -110px;
  }

  .option-buttons {
    gap: 50px;
  }

  button {
    font-size: 16px;
    margin-top: 30px;
    padding: 12px 80px;
  }
}

@media (max-width: 789px) {

  button {
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 60px;
  }
}